## Importing Necessary Libraries

In [2]:
from bs4 import BeautifulSoup  # Library for parsing HTML
import requests  # Library for making HTTP requests
import pandas as pd  # Library for handling tabular data

## Fetching the Web Page

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)  # Sending a request to the webpage
soup = BeautifulSoup(page.text, 'html.parser')  # Parsing the HTML content

## Extracting the Relevant Table

In [4]:
# Wikipedia pages often have multiple tables; selecting the second table
tables = soup.find_all('table')
if len(tables) > 1:
    table = tables[1]
else:
    raise ValueError("Expected table not found on the webpage.")

##### Alternative method: Finding tables with a specific class (ensuring accuracy)
```python
wiki_tables = soup.find_all('table', class_='wikitable sortable')
if wiki_tables:
    table = wiki_tables[0]  # Selecting the first matching table

print(table)  # Printing table for verification (optional)
```

In [5]:
print(table)  # Printing table for verification (optional)

<table class="wikitable sortable">
<tbody><tr>
<th>Rank
</th>
<th>Name
</th>
<th>Industry
</th>
<th>Revenue <br/>(USD billions)
</th>
<th>Employees
</th>
<th>Headquarters
</th></tr>
<tr>
<td>1
</td>
<td><a href="/wiki/Cargill" title="Cargill">Cargill</a>
</td>
<td>Food industry
</td>
<td style="text-align:center;">177
</td>
<td style="text-align:center;">160,000
</td>
<td><a href="/wiki/Minnetonka,_Minnesota" title="Minnetonka, Minnesota">Minnetonka, Minnesota</a>
</td></tr>
<tr>
<td>2
</td>
<td><a class="mw-redirect" href="/wiki/Koch_Industries" title="Koch Industries">Koch Industries</a>
</td>
<td>Conglomerate
</td>
<td style="text-align:center;">125
</td>
<td style="text-align:center;">120,000
</td>
<td><a href="/wiki/Wichita,_Kansas" title="Wichita, Kansas">Wichita, Kansas</a>
</td></tr>
<tr>
<td>3
</td>
<td><a class="mw-redirect" href="/wiki/Publix_Super_Markets" title="Publix Super Markets">Publix Super Markets</a>
</td>
<td>Retail
</td>
<td style="text-align:center;">54.5
</td>
<td style="text-align:center;">250,000
</td>
<td>Lakeland, Florida
</td></tr>
<tr>
<td>4
</td>
<td><a class="mw-redirect" href="/wiki/Mars,_Incorporated" title="Mars, Incorporated">Mars, Incorporated</a>
</td>
<td>Food industry
</td>
<td style="text-align:center;">47
</td>
<td style="text-align:center;">140,000
</td>
<td><a href="/wiki/McLean,_Virginia" title="McLean, Virginia">McLean, Virginia</a>
</td></tr>
<tr>
<td>5
</td>
<td><a href="/wiki/H-E-B" title="H-E-B">H-E-B</a>
</td>
<td>Retail
</td>
<td style="text-align:center;">43.6
</td>
<td style="text-align:center;">145,000
</td>
<td><a class="mw-redirect" href="/wiki/San_Antonio,_Texas" title="San Antonio, Texas">San Antonio, Texas</a>
</td></tr>
<tr>
<td>6
</td>
<td><a href="/wiki/Reyes_Holdings" title="Reyes Holdings">Reyes Holdings</a>
</td>
<td><a href="/wiki/Wholesaling" title="Wholesaling">Wholesaling</a>
</td>
<td style="text-align:center;">40
</td>
<td style="text-align:center;">36,000
</td>
<td><a href="/wiki/Rosemont,_Illinois" title="Rosemont, Illinois">Rosemont, Illinois</a>
</td></tr>
<tr>
<td>7
</td>
<td><a href="/wiki/Enterprise_Holdings" title="Enterprise Holdings">Enterprise Holdings</a>
</td>
<td><a href="/wiki/Car_rental" title="Car rental">Car rental</a>
</td>
<td style="text-align:center;">35
</td>
<td style="text-align:center;">90,000
</td>
<td><a href="/wiki/Clayton,_Missouri" title="Clayton, Missouri">Clayton, Missouri</a>
</td></tr>
<tr>
<td>8
</td>
<td><a href="/wiki/C%26S_Wholesale_Grocers" title="C&amp;S Wholesale Grocers">C&amp;S Wholesale Grocers</a>
</td>
<td>Wholesaling
</td>
<td style="text-align:center;">34.7
</td>
<td style="text-align:center;">15,000
</td>
<td><a href="/wiki/Keene,_New_Hampshire" title="Keene, New Hampshire">Keene, New Hampshire</a>
</td></tr>
<tr>
<td>9
</td>
<td><a href="/wiki/Love%27s" title="Love's">Love's</a>
</td>
<td>Petroleum industry and Retail
</td>
<td style="text-align:center;">26.5
</td>
<td style="text-align:center;">40,000
</td>
<td><a class="mw-redirect" href="/wiki/Oklahoma_City,_Oklahoma" title="Oklahoma City, Oklahoma">Oklahoma City, Oklahoma</a>
</td></tr>
<tr>
<td>10
</td>
<td><a href="/wiki/Southern_Glazer%27s_Wine_and_Spirits" title="Southern Glazer's Wine and Spirits">Southern Glazer's Wine and Spirits</a>
</td>
<td>Food industry
</td>
<td style="text-align:center;">26.0
</td>
<td style="text-align:center;">24,000
</td>
<td><a href="/wiki/Miramar,_Florida" title="Miramar, Florida">Miramar, Florida</a>
</td></tr></tbody></table>

## Extracting Table Headers

In [7]:
world_titles = table.find_all('th')  # Finding all header elements
world_table_titles = [title.text.strip() for title in world_titles]  # Cleaning header text

## Creating a DataFrame

In [8]:
# Initializing an empty DataFrame with column names
df = pd.DataFrame(columns=world_table_titles)

## Extracting Table Data

In [9]:
column_data = table.find_all('tr')  # Finding all table rows
for row in column_data[1:]:  # Skipping the header row
    row_data = row.find_all('td')  # Finding all cells in the row
    individual_row_data = [data.text.strip() for data in row_data]  # Cleaning cell text
    df.loc[len(df)] = individual_row_data  # Appending row data to DataFrame

In [10]:
df

,Rank,Name,Industry,Revenue (USD billions),Employees,Headquarters
0,1,Cargill,Food industry,177,"160,000","Minnetonka, Minnesota"
1,2,Koch Industries,Conglomerate,125,"120,000","Wichita, Kansas"
2,3,Publix Super Markets,Retail,54.5,"250,000","Lakeland, Florida"
3,4,"Mars, Incorporated",Food industry,47,"140,000","McLean, Virginia"
4,5,H-E-B,Retail,43.6,"145,000","San Antonio, Texas"
5,6,Reyes Holdings,Wholesaling,40,"36,000","Rosemont, Illinois"
6,7,Enterprise Holdings,Car rental,35,"90,000","Clayton, Missouri"
7,8,C&S Wholesale Grocers,Wholesaling,34.7,"15,000","Keene, New Hampshire"
8,9,Love's,Petroleum industry and Retail,26.5,"40,000","Oklahoma City, Oklahoma"
9,10,Southern Glazer's Wine and Spirits,Food industry,26.0,"24,000","Miramar, Florida"

## Saving Data to CSV File

In [11]:
output_path = r"C:\Users\user\Desktop\studying\1- python\web scraping\data_scraping.csv"
df.to_csv(output_path, index=False)  # Saving without index column

print("Data saved successfully at:", output_path)

Data saved successfully at: C:\Users\user\Desktop\data_scraped.csv